_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
Gemfile.lock
/pwd.txt.txt
tmp
.bak
/assets/games/moonforgot/bundle.json
megapop.zip
megapop
/assets/*.zip
saintdragon
*.mp4
pdf
menace
HG
games
breatheless
