---
layout: default
---

<h1>{{ page.name }}</h1>
<div
  id="dbxpoemstitle"
  style="
    position: relative;
    text-align: center;
    color: white;
    overflow: hidden;
    height: 50vh;
  "
>
  <!-- Background Image -->
  {% if page.thumbnail contains '.mp4' or page.thumbnail contains '.webm' %}
  <video
    src="{{page.thumbnail}}"
    style="
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    "
    autoplay
    loop
    muted
    playsinline
  ></video>
  {% else %}
  <img
    src="{{page.thumbnail}}"
    alt="{{page.summary}}"
    style="
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    "
  />
  {% endif %}
  <!-- Title on Top of the Image -->
  <h1
    style="
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: rgba(0, 0, 0, 0.5);
      padding: 10px;
      border-radius: 5px;
    "
  >
    {{page.title}}
  </h1>
</div>
<div style="position: relative">
  <!-- Top-left corner image -->
  <img
    src="../assets/images/corner.png"
    alt="Corner Decoration"
    style="
      position: absolute;
      top: 0;
      left: 0;
      width: 50px;
      height: auto;
      transform: rotate(180deg);
    "
  />

  <!-- Bottom-right corner image -->
  <img
    src="../assets/images/corner.png"
    alt="Corner Decoration"
    style="position: absolute; bottom: 0; right: 0; width: 50px; height: auto"
  />
  {{ content }}
</div>
